.App {
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.main {
  max-width: 600px;
  margin: 20px auto;
}

.restaurant-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.restaurant-card h2 {
  color: #333;
  margin-bottom: 5px;
}

.restaurant-card p {
  color: #666;
  margin: 5px 0;
}

.restaurant-card button {
  background-color: #738a73;
  color: #fff;
  border: none;
  padding: 15px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.restaurant-card button:hover {
  background-color: #a9a9a9;
}
.addIcon{
  padding-left: 550px;
}

.add-form {
  width: 300px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 15px;
}


input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px 0;
}


button {
  background: #627063;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}
#filterwert{
  width:200px;
 margin: 10px;
}
